@use '../../styles/colors.scss' as colors;
@use '../../styles/typography.scss' as typography;

div.button {
    $padding: .5rem;
    position: relative;
    margin-left: $padding;
    margin-bottom: $padding;
    display: inline-block;

    >* {
        position: absolute;
        border: 3px solid colors.$black;
        width: max-content;
        padding: $padding;
        display: inline-block;
        line-height: 1.2rem;
        @include typography.text-style($size: 'text-r');
    }

    button {
        color: colors.$black;
        background-color: colors.$pale-magenta;
        transition: .1s;
        cursor: pointer;

        &:hover {
            background-color: colors.$dark-cyan;
        }

        &:active {
            background-color: colors.$dark-magenta;
            left: -$padding;
            top: $padding;
        }
    }

    .rectangle {
        color: transparent;
        left: -$padding;
        top: $padding;
        background-color: colors.$dark-magenta;
    }
}