@use '../../styles/colors' as colors;

div.profile {
    $L: 50vw;
    $h: sqrt(2)*100%;
    $r: 100%/2;
    $d1: (
        $h/2 - $r)/2;
    $d2: (
        $h/2 - $r)*cos(45deg
    );

position: relative;
width: $L;
height: $L;
margin: 2*$L/10;
margin-top: 0;
max-width: 18.75em;
max-height: 18.75em;

>* {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid colors.$black;
}

div.rectangle {
    width: $L/2;
    left: -$d1;
    top: $d1;
}

div.elipse {
    left: $d2;
    top: $d2;
    border-radius: 50%;
    background-color: colors.$pale-magenta;
}
}