$pale-magenta: #CC82CC;
$dark-magenta: #A91EA0;

$pale-cyan: #D5EDEE;
$dark-cyan: #41CECE;

$pale-violet: #9A66E9;
$dark-violet: #36317D;

$white: #F9F0E7;
$black: #0D1117;

$violet-gradient: linear-gradient(to bottom, $dark-violet 0%, $black 100%);

// https://angel-rs.github.io/css-color-filter-generator/
$pale-magenta-filter: brightness(0) saturate(100%) invert(76%) sepia(5%) saturate(3931%) hue-rotate(247deg) brightness(79%) contrast(103%);
$dark-cyan-filter: brightness(0) saturate(100%) invert(95%) sepia(16%) saturate(3320%) hue-rotate(139deg) brightness(87%) contrast(84%);
$white-filter: brightness(0) saturate(100%) invert(92%) sepia(4%) saturate(1481%) hue-rotate(321deg) brightness(111%) contrast(92%);

$box-shadow: 0px 4px 4px 0px $black;