@use '../../styles/colors' as colors;
@use '../../styles/typography' as typography;
@use '../../styles/media' as media;

.card {
    $padding: 1.25rem;
    width: fit-content;
    border: 3px solid colors.$black;
    position: relative;
    margin: $padding;
    box-sizing: border-box;

    &.shadow-left .card-shadow {
        left: -$padding;
    }

    &.shadow-right .card-shadow {
        right: -$padding;
    }

    .card-content {
        padding: $padding;
        background-color: colors.$white;
    }

    .card-shadow {
        z-index: -1;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        border: 3px solid colors.$black;
        top: $padding;
    }
}