@use '../../styles/_colors.scss' as colors;
@use '../../styles/_typography.scss' as typography;
@use '../../styles/media.scss' as media;

footer {
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .main-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        margin: 10px;
        box-sizing: border-box;

        h2 {
            text-align: center;
        }

        @include media.tablet() {
            justify-content: space-evenly;
        }

        .grid {
            justify-content: center;
            display: flex;
            gap: 100px;
            flex-wrap: wrap;


            @include media.tablet() {
                gap: 50px;
            }
        }

        .icon {
            color: colors.$white;
            font-weight: bold;

            img {
                filter: colors.$white-filter;
            }
        }


    }

    .copyright {
        color: colors.$white;
        text-align: center;
        align-self: flex-end;
        align-self: baseline;
        width: 100%;
    }

    .figure.triangle {
        top: 50px;
        right: 50px;
    }

    .figure.circle {
        width: 280px;
        height: 280px;
        bottom: 50px;
        left: -80px;
    }
}