@use './styles/_colors.scss' as colors;
@use './styles/_typography.scss' as typography;
@use './styles/media.scss' as media;

html {
    scroll-behavior: smooth
}

* {
    transition: all 0.4s ease-in-out;
}

body {
    transition: all 0.4s ease-in-out;
    animation: zoomIn .5s forwards;
    opacity: 0;

    font-family: typography.$ZenKaku;
    color: colors.$black;
    margin: 0;
    padding: 0;
    background: url("~/public/assets/images/classy-fabric.png"), colors.$violet-gradient;
    min-height: 100vh;

    header,
    section,
    footer {
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        @include media.tablet() {
            flex-direction: column-reverse;
            justify-content: space-evenly;
        }

        @include media.mobile() {
            gap: 10px;
        }

        img.profile {
            max-width: 300px;
        }

        .figure.rectangle {
            width: 180px;
            height: 180px;
            top: -30px;
            left: -50px;
        }

        .figure.circle {
            width: 280px;
            height: 280px;
            bottom: 10px;
            right: -50px;
        }
    }

    footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .main-content {
            max-width: 800px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            margin: 10px;
            box-sizing: border-box;

            @include media.tablet() {
                justify-content: space-evenly;
            }

            h2 {
                color: colors.$pale-magenta;
                text-transform: uppercase;
                @include typography.text-style("text-4xl");

                @include media.tablet() {
                    @include typography.text-style("text-2xl");
                }
            }

            .grid {
                justify-content: center;
            }

            .icon {
                color: colors.$white;
                font-weight: bold;

                img {
                    filter: colors.$white-filter;
                }
            }


        }

        .copyright {
            color: colors.$white;
            text-align: center;
            align-self: flex-end;
            align-self: baseline;
            width: 100%;
        }

        .figure.triangle {
            top: 50px;
            right: 50px;
        }

        .figure.circle {
            width: 280px;
            height: 280px;
            bottom: 50px;
            left: -80px;
        }
    }
}

.figure {
    z-index: -1;
    position: absolute;

    &.rectangle {
        border: 3px solid colors.$dark-magenta;
        transition: all 0.4s ease-in-out;
        animation-delay: 0s;
        animation: floating 6s ease-in-out infinite;
    }

    &.circle {
        border-radius: 100%;
        border: 3px dashed colors.$dark-cyan;
        animation-delay: .5s;
        animation: floating 6s ease-in-out infinite;
    }

    &.triangle {
        width: 0;
        height: 0;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 60px solid colors.$dark-magenta;
        animation-delay: .5s;
        animation: floating 6s ease-in-out infinite;
    }

    &.dot-grid {
        width: calc(100vw/3);
        min-width: 300px;

        &#grid1 {
            bottom: 10px;
            left: 0px;

        }

        &#grid2 {
            top: 10px;
            right: 10px;
        }
    }
}

.grid {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;

}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floating {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}